<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="btn">CONNECT</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
      var socket = io('/');
      var button = document.getElementById("btn")
      button.addEventListener("click", () => {
        socket.emit("clicked", button.id);
      });
    </script>
  </body>
</html>
